<h2>All Todos Entries</h2>

 <div class="entries">

   <p>There are {{vm.todos.length}} entries: </p>

   <br>

   <h3 data-ng-repeat="entry in vm.todos">
      <a data-ui-sref="show({title: entry.title})">{{entry.title}}</a>
      <p>{{entry.content}}</p>
    </h3>


  </div>

 < <form ng-submit="vm.create()">
   <input type="text" ng-model="vm.newTodo.title" placeholder="Title" />
   <input type="text" ng-model="vm.newTodo.content" placeholder="content" />
   <button type="submit">Submit</button>
 </form>
